<div class="page-header">
  <h1><% if (config.subtitle){ %><%= config.subtitle %><% } else { %><%= config.title %><% } %></h1>
  <span id="busuanzi_container_site_pv">
	Total pv：<span id="busuanzi_value_site_pv"></span>
  </span>
  <span id="busuanzi_container_site_uv">
	，   Total uv：<span id="busuanzi_value_site_uv"></span>
  </span>
</div>

<%- partial('_partial/index', {index: true}) %>